@charset "UTF-8";
@import 'http://fonts.googleapis.com/earlyaccess/notosanstc.css';
html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-fw100px-'] > * {
  width: 100px;
  -webkit-flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px; }

[class*='-fw200px-'] > * {
  width: 200px;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

[class*='-fw300px-'] > * {
  width: 300px;
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

[class*='-fw400px-'] > * {
  width: 400px;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

[class*='-fw500px-'] > * {
  width: 500px;
  -webkit-flex-basis: 500px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -webkit-flex-basis: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -webkit-flex-basis: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -webkit-flex-basis: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -webkit-flex-basis: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -webkit-flex-basis: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -webkit-flex-basis: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -webkit-flex-basis: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    user-select-text-align: center; }

#call-to-action-btn {
  position: fixed;
  width: 75px;
  height: 110px;
  z-index: 2;
  right: calc( 4% + 60px);
  bottom: calc( 7% + 60px); }
  #call-to-action-btn img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    #call-to-action-btn img.on {
      z-index: 2;
      -webkit-animation: onoff 0.4s ease 0s infinite alternate;
      animation: onoff 0.4s ease 0s infinite alternate; }
    #call-to-action-btn img:not(.text) {
      width: 300%;
      -webkit-transform: translate3d(-6%, 5%, 0);
      transform: translate3d(-6%, 5%, 0); }
    #call-to-action-btn img.text {
      width: 100%;
      position: absolute; }

#call-to-action-btn:active .on {
  -webkit-transform: translate3d(-6%, 6%, 0);
  transform: translate3d(-6%, 6%, 0); }

@-webkit-keyframes onoff {
  0% {
    -webkit-transform: translate3d(-6%, 5%, 0);
    transform: translate3d(-6%, 5%, 0); }
  100% {
    -webkit-transform: translate3d(-6%, 7%, 0);
    transform: translate3d(-6%, 7%, 0); } }

@keyframes onoff {
  0% {
    -webkit-transform: translate3d(-6%, 5%, 0);
    transform: translate3d(-6%, 5%, 0); }
  100% {
    -webkit-transform: translate3d(-6%, 7%, 0);
    transform: translate3d(-6%, 7%, 0); } }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
  opacity: .4; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer; }

.unslider-arrow.next {
  left: auto;
  right: 20px; }

#bar {
  position: fixed;
  right: calc( 4% + 40px);
  top: calc( 7% + 40px);
  z-index: 30;
  padding: 20px 17px;
  border-radius: 5px; }
  #bar .bar-chart-wrap {
    position: relative;
    width: 270px;
    margin-bottom: 10px; }
    #bar .bar-chart-wrap .b-pg-main {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #FD4A0F;
      height: 10px;
      border-radius: 10px;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease;
      max-width: 100%; }
    #bar .bar-chart-wrap .b-pg-bg {
      position: relative;
      width: 100%;
      height: 10px;
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      z-index: 1; }
  #bar .text {
    font-size: 12px;
    font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 400; }
    #bar .text b {
      display: inline-block;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
      font-weight: 400; }
      #bar .text b:nth-of-type(1) {
        width: 55px;
        padding-left: 5px; }
      #bar .text b:nth-of-type(2) {
        width: 105px;
        text-align: center; }

@media screen and (max-width: 992px) {
  #bar {
    right: 0;
    left: 0;
    width: 250px;
    top: 0;
    margin: auto;
    background-color: #0047BA;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 8px 10px; }
    #bar .bar-chart-wrap {
      width: 230px;
      margin: 5px auto 5px; }
    #bar .text b {
      font-size: 13px; }
      #bar .text b:nth-of-type(1) {
        width: 46px;
        padding-left: 5px; }
      #bar .text b:nth-of-type(2) {
        width: 75px;
        text-align: center; } }

#nav {
  position: fixed;
  left: calc( 4% + 40px);
  top: calc( 7% + 40px);
  z-index: 30; }
  #nav a {
    font-size: 13px;
    width: 115px;
    line-height: 30px;
    height: 30px;
    color: #0047BA;
    background-color: #fff;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    margin: 0 5px;
    text-align: center;
    font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 400;
    border-radius: 17px; }
  #nav a:hover {
    background-color: #FD4A0F; }

#nav-mobile {
  display: none; }
  @media screen and (max-width: 992px) {
    #nav-mobile {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 90;
      width: 100%;
      height: 100vh;
      pointer-events: none; }
      #nav-mobile .icon {
        position: absolute;
        right: 4%;
        top: 10px;
        width: 35px;
        height: 40px;
        pointer-events: visible;
        cursor: pointer;
        z-index: 3; }
        #nav-mobile .icon:after, #nav-mobile .icon:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          background-color: #FFF;
          height: 4px;
          margin: auto;
          -webkit-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease; }
        #nav-mobile .icon:after {
          -webkit-transform: translateY(-11px);
          -ms-transform: translateY(-11px);
          transform: translateY(-11px);
          -webkit-box-shadow: 0 11px 0 0 #fff;
          box-shadow: 0 11px 0 0 #fff; }
        #nav-mobile .icon:before {
          -webkit-transform: translateY(11px);
          -ms-transform: translateY(11px);
          transform: translateY(11px); }
      #nav-mobile .icon.active:after {
        -webkit-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
        transform: translateY(0px) rotate(45deg);
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent; }
      #nav-mobile .icon.active:before {
        -webkit-transform: translateY(0px) rotate(-45deg);
        -ms-transform: translateY(0px) rotate(-45deg);
        transform: translateY(0px) rotate(-45deg); }
      #nav-mobile .nav-content {
        pointer-events: visible;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0047BA;
        z-index: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        #nav-mobile .nav-content a {
          display: none;
          background-color: #FFF;
          margin: 10px 0;
          width: 130px;
          line-height: 40px;
          height: 40px;
          color: #0047BA;
          text-align: center;
          border-radius: 30px;
          -webkit-animation: show 0.5s ease 0s 1 both;
          animation: show 0.5s ease 0s 1 both; }
          #nav-mobile .nav-content a.call {
            background-color: #FD4A0F;
            color: #fff; }
      #nav-mobile .nav-content.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); }
        #nav-mobile .nav-content.active a {
          display: block; }
        #nav-mobile .nav-content.active a:nth-child(1) {
          -webkit-animation-delay: .1s;
          animation-delay: .1s; }
        #nav-mobile .nav-content.active a:nth-child(2) {
          -webkit-animation-delay: .2s;
          animation-delay: .2s; }
        #nav-mobile .nav-content.active a:nth-child(3) {
          -webkit-animation-delay: .3s;
          animation-delay: .3s; }
        #nav-mobile .nav-content.active a:nth-child(4) {
          -webkit-animation-delay: .4s;
          animation-delay: .4s; } }

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

#loading {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #123293; }
  #loading .progress-text {
    font-size: 5vw;
    opacity: .5;
    color: #fff; }
  #loading [class*="block"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
      transform-transform-origin: 0% 0%; }
  #loading .block-og {
    background-color: #FD4A0F;
    z-index: 3; }
  #loading .block-db {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2; }
  #loading .block-b {
    background-color: #0047BA; }

#loading.completed {
  -webkit-animation: disappear 1.5s ease 0s 1 both;
  animation: disappear 1.5s ease 0s 1 both;
  pointer-events: none;
  background-color: transparent; }
  #loading.completed .progress-text {
    -webkit-animation: disappear 1.5s ease 0s 1 both;
    animation: disappear 1.5s ease 0s 1 both; }
  #loading.completed .block-og {
    -webkit-animation: slideRight 1.5s ease .2s 1 both;
    animation: slideRight 1.5s ease .2s 1 both; }
  #loading.completed .block-db {
    -webkit-animation: slideRight 1.7s ease .1s 1 both;
    animation: slideRight 1.7s ease .1s 1 both; }
  #loading.completed .block-b {
    -webkit-animation: slideRight 2.1s ease 0s 1 both;
    animation: slideRight 2.1s ease 0s 1 both; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@-webkit-keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #123293; }
  40% {
    font-size: 5vw;
    background-color: #123293; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
      font-size-background-color: transparent; } }

@keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #123293; }
  40% {
    font-size: 5vw;
    background-color: #123293; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
      font-size-background-color: transparent; } }

#popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  background-color: #0047BA;
  z-index: 30; }
  #popup .box.more .img {
    border-radius: 13px;
    background-color: #123293;
    opacity: .4; }
  #popup .close-btn {
    display: block;
    width: 120px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    border-radius: 30px;
    background-color: #FFF;
    color: #0047BA;
    font-weight: 600;
    margin: 10px auto; }
  #popup .content {
    display: none;
    margin: 55px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 10% 2.5%; }
  #popup .content.active {
    display: block; }
  #popup .tb {
    max-width: 450px;
    margin: 50px auto;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
    margin-bottom: 40px; }
    #popup .tb .tr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #popup .tb .tr .th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 90px;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        width: 90px;
        padding: 20px;
        color: #fff;
        -webkit-box-shadow: inset -1px -1px 0 0 #fff;
        box-shadow: inset -1px -1px 0 0 #fff; }
      #popup .tb .tr .td {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 calc( 100% - 90px);
        -ms-flex: 1 1 calc( 100% - 90px);
        flex: 1 1 calc( 100% - 90px);
        width: calc( 100% - 90px);
        padding: 20px;
        color: #fff;
        -webkit-box-shadow: inset 0px -1px 0 0 #fff;
        box-shadow: inset 0px -1px 0 0 #fff; }
  #popup .content[data-popup="1"] .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 13px; }
  #popup .content[data-popup="1"] .h1 {
    text-align: center;
    font-size: 27px; }
  #popup .content[data-popup="1"] .box {
    margin-top: 30px; }
    #popup .content[data-popup="1"] .box h4 {
      text-align: center;
      opacity: .4;
      font-size: 13px; }
    #popup .content[data-popup="1"] .box h5 {
      text-align: center;
      font-size: 13px; }
  #popup .content[data-popup="2"] .h1 {
    margin-bottom: 20px; }
  #popup .content[data-popup="2"] p {
    opacity: .9;
    font-size: 14px;
    line-height: 1.7; }
  #popup .content[data-popup="2"] h3 {
    margin-top: 30px; }
  #popup .content[data-popup="2"] h2 {
    font-weight: 700;
    margin: 30px auto 15px;
    opacity: 1;
    font-size: 20px; }

#header-slider li {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
  background-position: bottom; }
  @media screen and (max-width: 992px) {
    #header-slider li {
      background-size: auto 100%;
      background-position: 50% 100%; } }

.header-border {
  position: absolute;
  left: 4%;
  top: 7%;
  width: 92%;
  height: 86%;
  pointer-events: none;
  z-index: 3; }
  @media screen and (max-width: 992px) {
    .header-border {
      top: 60px; } }
  .header-border div {
    position: absolute; }
    .header-border div.left, .header-border div.top, .header-border div.right, .header-border div.bottom {
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
    .header-border div.left {
      width: 5px;
      left: 8px;
      top: 205px;
      height: calc( 100% - 350px); }
    .header-border div.right {
      width: 5px;
      right: 8px;
      top: 130px;
      height: calc( 100% - 300px); }
    .header-border div.top {
      height: 5px;
      top: 10px;
      width: calc( 100% - 215px);
      left: 40px; }
    .header-border div.bottom {
      height: 5px;
      bottom: 14px;
      width: calc( 100% - 365px);
      left: 180px; }
    .header-border div.left-top {
      top: 0;
      left: 0;
      width: 22px; }
    .header-border div.left-bottom {
      bottom: 0;
      left: 0;
      width: 160px; }
    .header-border div.right-bottom {
      bottom: 0;
      right: 0;
      width: 170px;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px); }
    .header-border div.right-top {
      top: 0;
      right: 0;
      width: 160px; }

.header-arrow {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  -webkit-animation: slideDown 1.5s ease 0s infinite both;
  animation: slideDown 1.5s ease 0s infinite both; }
  @media screen and (max-width: 992px) {
    .header-arrow {
      width: 40px; } }
  .header-arrow img {
    width: 100%; }

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

h2 {
  font-size: 22px;
  font-family: PingFangTC-Medium, Noto Sans TC, sans-serif, Microsoft JhengHei;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: .6;
  text-align: left; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 17px; } }

h1, .h1 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 10px;
  font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
  font-weight: 400;
  text-align: left; }
  h1 b, .h1 b {
    color: #0047BA; }

h3 {
  font-size: 15px;
  font-family: PingFangTC-Light, Noto Sans TC, sans-serif, Microsoft JhengHei;
  font-weight: 300;
  text-align: left; }

.sec2 {
  background-color: #FD4A0F;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .sec2 .left {
    padding-left: 30px; }
  .sec2 .right {
    position: relative;
    overflow: hidden; }
  .sec2 img {
    width: 110%;
    right: 0;
    margin-right: 0;
    margin-left: auto;
    top: 0; }

.sec3 {
  background-color: #123293; }
  .sec3 .section-title {
    padding-top: 0; }
  .sec3 .s3-scroll-block {
    margin-top: 5%;
    margin-bottom: 5%; }
    .sec3 .s3-scroll-block h2 {
      font-size: 50px;
      color: #617cbe;
      line-height: 1;
      text-align: right; }
      @media screen and (max-width: 992px) {
        .sec3 .s3-scroll-block h2 {
          font-size: 4.5vw; } }
      @media screen and (max-width: 768px) {
        .sec3 .s3-scroll-block h2 {
          display: none; } }
    .sec3 .s3-scroll-block h3 {
      font-size: 27px;
      line-height: 1;
      padding-top: 1%;
      font-weight: 600; }
      @media screen and (max-width: 768px) {
        .sec3 .s3-scroll-block h3 {
          text-align: center; } }
      .sec3 .s3-scroll-block h3 b {
        font-size: 22px;
        margin-left: 10px;
        font-weight: 400; }

.s3-small {
  font-size: 15px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .s3-small {
      font-size: 17px;
      margin-top: 40px;
      opacity: 0.4; } }

.sec3-1 {
  text-align: center; }
  .sec3-1 .s3-info {
    font-size: 150px;
    font-weight: 600;
    margin: 5% auto;
    color: #617cbe; }
    @media screen and (max-width: 992px) {
      .sec3-1 .s3-info {
        font-size: 60px; } }
  .sec3-1 h2, .sec3-1 h3 {
    text-align: center;
    max-width: 600px;
    margin: auto;
    line-height: 1.7; }
  .sec3-1 h2 {
    margin-bottom: 15px; }

.s3-title {
  line-height: 1.5;
  color: #fff;
  font-size: 36px;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .s3-title {
      font-size: 24px; } }

.s3-cards {
  margin-top: 50px; }

.s3-cards .card {
  color: #fff;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-itmes: flex-start; }
  .s3-cards .card .img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 95px;
    -ms-flex: 0 0 95px;
    flex: 0 0 95px;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    overflow: hidden; }
    .s3-cards .card .img img {
      width: 100%; }
  .s3-cards .card .text {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc( 100% - 110px);
    -ms-flex: 1 1 calc( 100% - 110px);
    flex: 1 1 calc( 100% - 110px);
    width: calc( 100% - 110px);
    margin-left: 15px;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: PingFangTC-Light, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    padding: 8px 30px 30px 20px; }
    @media screen and (max-width: 768px) {
      .s3-cards .card .text {
        font-size: 14px;
        margin-left: 0px;
        padding-right: 0; } }
    .s3-cards .card .text span {
      position: absolute;
      right: 50px;
      color: #fff;
      opacity: .6;
      bottom: 0px;
      font-size: 12px; }
      @media screen and (max-width: 768px) {
        .s3-cards .card .text span {
          right: 10px; } }

.sec3-2 {
  background-color: #123293; }
  @media screen and (max-width: 500px) {
    .sec3-2 .s3-title {
      padding-top: 30px; } }

.sec4 {
  color: #0047BA;
  background-color: #FFF;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 500px) {
    .sec4 .img {
      margin-bottom: 20px;
      padding-bottom: 20px;
      -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); } }
  .sec4 img {
    display: block;
    width: 76%;
    margin: 2% auto 0; }
  .sec4 h3 {
    max-width: 385px;
    font-family: PingFangTC-Medium, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 500; }

.sec5 .section-title b {
  margin-top: 10px;
  margin-bottom: -5px; }

.sec5 .time-line-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sec5 .time {
  font-size: 60px;
  line-height: 1;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .sec5 .time {
      font-size: 30px; } }

.sec5 .content {
  max-width: 950px; }

.sec5-1 {
  background-color: #123293; }
  .sec5-1 .content {
    max-width: 1200px; }
  .sec5-1 .title-right-mark:after {
    margin-left: 6px; }

.db-box, .lb-box {
  background-color: #123293;
  padding: 20px 18px 30px;
  border-radius: 10px; }
  .db-box h3, .lb-box h3 {
    font-size: 23px;
    font-weight: 600;
    margin: 20px 0; }
  .db-box img, .lb-box img {
    width: 100%; }

.lb-box {
  background-color: #0047BA; }
  .lb-box .more-btn {
    background-color: #FFF;
    color: #0047BA;
    display: inline-block;
    width: 120px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: 600; }
  .lb-box p {
    opacity: .5; }

.lb-box:nth-child(2) img {
  margin-bottom: 10%; }

.lb-box:nth-child(3) h3 {
  margin-top: 10px; }

.last-time-line-block img {
  display: block;
  width: 70%;
  margin: 0 auto;
  -webkit-transform: translateX(15%);
  -ms-transform: translateX(15%);
  transform: translateX(15%); }

.last-time-line-block .section-title {
  padding-top: 10px; }
  @media screen and (max-width: 500px) {
    .last-time-line-block .section-title {
      font-size: 20px; } }
  .last-time-line-block .section-title b {
    margin-top: 10px;
    margin-bottom: 50px; }
    @media screen and (max-width: 500px) {
      .last-time-line-block .section-title b {
        margin-top: 0px; } }

.title-right-mark:after {
  content: attr(data-mark);
  display: inline-block;
  font-size: 13px;
  padding: 2px 6px;
  margin-left: 15px;
  position: relative;
  top: -3px;
  background-color: #FD4A0F;
  text-align: center;
  border-radius: 4px;
  color: #0047BA; }

.white-box {
  background-color: #FFF;
  border-radius: 10px;
  color: #0047BA;
  text-align: center;
  padding: 30px 18px; }
  .white-box h2 {
    text-align: center;
    color: #003FB1;
    height: 70px;
    font-size: 24px;
    opacity: 1;
    font-family: PingFangTC-Semibold, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 600;
    margin-bottom: 30px; }
    @media screen and (max-width: 500px) {
      .white-box h2 {
        margin-bottom: 14px;
        font-size: 20px;
        height: 50px; } }
  .white-box p {
    opacity: .5; }
    @media screen and (max-width: 500px) {
      .white-box p {
        opacity: .8; } }

.sec6 .content {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.sec6 .left img {
  width: 140%; }

.sec6 .right {
  padding: 5% 10%; }
  .sec6 .right img {
    margin-bottom: 40px; }
  .sec6 .right p {
    line-height: 1.7;
    font-family: PingFangTC-Light, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px; }

.sec6 .unslider {
  position: relative; }

.sec6 .unslider-arrow {
  position: absolute;
  width: 20%;
  max-width: 80px;
  top: 0;
  height: 100%;
  font-size: 0; }
  .sec6 .unslider-arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FD4A0F transparent transparent; }

.sec6 .unslider-arrow.next:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.slider-content {
  max-width: 1100px;
  padding: 0 2.5%;
  margin: auto; }

#s6-slider {
  position: relative; }

.sec7 {
  background-color: #123293; }
  @media screen and (max-width: 768px) {
    .sec7 .h1 {
      font-size: 23px; } }
  .sec7 .content {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0; }
    .sec7 .content .right {
      margin: 0;
      font-size: 0; }
      @media screen and (max-width: 768px) {
        .sec7 .content .right {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; } }
    .sec7 .content .left {
      padding-left: 5%; }
    .sec7 .content .bottom {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100%;
      text-align: center;
      font-size: 30px;
      margin-top: 5%; }
      @media screen and (max-width: 768px) {
        .sec7 .content .bottom {
          font-size: 18px;
          margin-left: 0;
          margin-right: 0; } }
  .sec7 h3, .sec7 h4 {
    color: #FD4A0F;
    font-family: PingFangTC-Semibold, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 600;
    font-size: 24px; }
  .sec7 h4 {
    color: #fff;
    margin-top: 7px;
    margin-bottom: 35px; }
  .sec7 .s7-list {
    position: relative;
    padding-left: 35px;
    margin: 15px 0;
    letter-spacing: 1px; }
    .sec7 .s7-list span {
      display: block;
      font-size: 13px;
      opacity: .5;
      margin-top: 4px; }
    .sec7 .s7-list:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 0px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 100%; }
  .sec7 .s7-list:nth-of-type(2) {
    margin-top: 80px; }
    @media screen and (max-width: 768px) {
      .sec7 .s7-list:nth-of-type(2) {
        margin-top: 30px; } }
  .sec7 .s7-list:nth-of-type(2) b {
    color: #FF56CC; }
  .sec7 .s7-list:nth-of-type(2):after {
    background-color: #FF56CC; }
  .sec7 .s7-list:nth-of-type(3) b {
    color: #BC81D9; }
  .sec7 .s7-list:nth-of-type(3):after {
    background-color: #BC81D9; }
  .sec7 .s7-list:nth-of-type(4) b {
    color: #47E649; }
  .sec7 .s7-list:nth-of-type(4):after {
    background-color: #47E649; }
  .sec7 .s7-list:nth-of-type(5) b {
    color: #FFEF36; }
  .sec7 .s7-list:nth-of-type(5):after {
    background-color: #FFEF36; }
  .sec7 .s7-list:nth-of-type(6) b {
    color: #009CD7; }
  .sec7 .s7-list:nth-of-type(6):after {
    background-color: #009CD7; }
  .sec7 .right img, .sec7 .right p {
    display: block;
    width: 80%;
    margin: 0 0 0 auto; }

.sec8 {
  background-color: #FFF; }
  .sec8 .content {
    max-width: 1200px;
    padding-top: 0; }
  .sec8 .boxes {
    margin: 0 0 120px; }
  .sec8 .lb-box {
    position: relative;
    padding-bottom: 95px;
    border-radius: 15px; }
    .sec8 .lb-box h3 {
      text-align: center;
      font-size: 30px;
      font-weight: 400; }
      @media screen and (max-width: 992px) {
        .sec8 .lb-box h3 {
          font-size: 18px; } }
    .sec8 .lb-box img {
      margin-bottom: 0; }
    .sec8 .lb-box p {
      opacity: 1; }
    .sec8 .lb-box .see-more-btn {
      position: absolute;
      left: 0;
      bottom: 20px;
      background-color: #FFF;
      border-radius: 35px;
      line-height: 35px;
      width: calc( 100% - 30px);
      right: 0;
      margin: auto;
      text-align: center;
      color: #0047BA; }
  .sec8 .lb-box.up {
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%); }
    @media screen and (max-width: 992px) {
      .sec8 .lb-box.up {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%); } }
  .sec8 .lb-box.down {
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%); }
    @media screen and (max-width: 992px) {
      .sec8 .lb-box.down {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%); } }
  .sec8 .section-title {
    padding-bottom: 5%;
    padding-top: 6%;
    line-height: 1;
    color: #0047BA; }
  .sec8 .intro-block {
    margin: 30px 0 30px; }
  @media screen and (max-width: 500px) {
    .sec8 .img {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1; } }
  .sec8 .img img {
    width: 100%; }
  @media screen and (max-width: 500px) {
    .sec8 .text {
      margin-bottom: 25px; } }
  .sec8 .text .h1 {
    color: #123293; }
  .sec8 .text p, .sec8 .text h2 {
    color: #123293;
    margin: 20px 0; }
    @media screen and (max-width: 500px) {
      .sec8 .text p, .sec8 .text h2 {
        margin: 15px 0; } }
  .sec8 .text .more-btn {
    background-color: #0047BA;
    display: inline-block;
    width: 120px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-radius: 5px; }
  .sec8 .intro-block:nth-child(n) .text {
    padding-left: 5%; }
    @media screen and (max-width: 500px) {
      .sec8 .intro-block:nth-child(n) .text {
        padding-left: 0%; } }
  .sec8 .intro-block:nth-child(2n) .text {
    padding-left: 0;
    padding-right: 5%; }
    @media screen and (max-width: 500px) {
      .sec8 .intro-block:nth-child(2n) .text {
        padding-right: 0%; } }
  .sec8 .tb {
    -webkit-box-shadow: 0 0 0 1px #123293;
    box-shadow: 0 0 0 1px #123293;
    margin-bottom: 40px; }
    .sec8 .tb .tr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .sec8 .tb .tr .th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 90px;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        width: 90px;
        padding: 20px;
        color: #123293;
        -webkit-box-shadow: inset -1px -1px 0 0 #123293;
        box-shadow: inset -1px -1px 0 0 #123293; }
      .sec8 .tb .tr .td {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 calc( 100% - 90px);
        -ms-flex: 1 1 calc( 100% - 90px);
        flex: 1 1 calc( 100% - 90px);
        width: calc( 100% - 90px);
        padding: 20px;
        color: #123293;
        -webkit-box-shadow: inset 0px -1px 0 0 #123293;
        box-shadow: inset 0px -1px 0 0 #123293; }

.tb-ker .text h2 {
  margin-top: 10px;
  margin-bottom: 30px; }

.tb-ker .text p {
  margin-top: 0px;
  margin-bottom: 15px; }

.sec9 {
  background-color: #0047BA;
  overflow: hidden; }
  .sec9 .content {
    max-width: 1280px;
    padding: 5% 1%; }
  .sec9 .section-title {
    padding-bottom: 5%;
    padding-top: 6%;
    line-height: 1; }
    @media screen and (max-width: 500px) {
      .sec9 .section-title {
        font-size: 20px;
        line-height: 1.2;
        padding-bottom: 30px;
        padding-top: 30px; } }

.rw-block .left {
  position: relative;
  height: 200px;
  width: 100%; }

.rw-block .left > img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 40px; }

.rw-block .right {
  margin: 0;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px 20px; }
  .rw-block .right .rw-see-more-btn {
    color: #617cbe;
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .rw-block .right .rw-see-more-btn {
        display: none; } }
  .rw-block .right h2 {
    color: #003FB1;
    opacity: 1;
    font-family: PingFangTC-Semibold, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 600;
    text-align: center;
    height: 45px;
    margin: 0; }
  .rw-block .right p {
    color: #617cbe;
    font-size: 1ˋpx;
    height: 120px;
    margin-top: 50px;
    line-height: 1.7; }
    @media screen and (max-width: 768px) {
      .rw-block .right p {
        height: auto;
        margin-bottom: 20px; } }
  .rw-block .right .bottom {
    position: relative; }
    .rw-block .right .bottom .price {
      position: relative;
      font-size: 34px;
      color: #003FB1; }
      @media screen and (max-width: 500px) {
        .rw-block .right .bottom .price {
          font-size: 20px; } }
      .rw-block .right .bottom .price span {
        display: block;
        text-align: right;
        font-size: 12px;
        margin-top: 10px; }
    .rw-block .right .bottom a.buy-btn {
      margin-top: 20px;
      background-color: #FD4A0F;
      text-align: center;
      width: 100%;
      line-height: 40px;
      height: 40px;
      border-radius: 40px; }

.rw-block.blue {
  background-color: #0047BA; }

.mark-l:after {
  position: absolute;
  right: 0;
  top: 17px;
  content: attr(data-mark);
  font-size: 12px;
  background-color: #003FB1;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  margin-top: -5px;
  display: inline-block;
  border-radius: 30px;
  margin-left: 10px; }

.sec10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0047BA;
  min-height: 80vh; }
  .sec10 * {
    text-align: center; }
  @media screen and (max-width: 768px) {
    .sec10 .h1 {
      font-size: 24px; } }
  .sec10 h2 {
    opacity: 1;
    margin-top: 70px; }
    @media screen and (max-width: 768px) {
      .sec10 h2 {
        margin-top: 30px; } }
  .sec10 a {
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    background-color: #FD4A0F;
    line-height: 50px;
    height: 50px;
    border-radius: 40px;
    font-size: 24px; }
    @media screen and (max-width: 768px) {
      .sec10 a {
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        max-width: 220px; } }

@font-face {
  font-family: LatinaEssential;
  src: url("../fonts/LatinaEssential-Bold.otf") format("truetype"); }

.LatinaEssential {
  font-family: LatinaEssential, B Nazanin, Tahoma !important; }

* {
  -webkit-overflow-scrolling: touch; }

body {
  background-color: #0047BA;
  color: #fff;
  font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
  font-weight: 400;
  overflow-x: hidden; }

section, header {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow: hidden; }
  section .content, header .content {
    position: relative;
    width: 100%;
    padding: 5% 2.5%;
    max-width: 1100px;
    margin: auto; }

[class*="img-bg"] {
  background-position: center;
  background-repeat: no-repeat; }

.img-bg-cover {
  background-size: cover; }

.img-bg-contain {
  background-size: contain; }

.video {
  overflow: hidden;
  height: 100vh; }
  .video video {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    min-width: 100%;
    min-height: 100%; }

.section-title {
  padding-top: 7%;
  font-size: 36px;
  font-family: PingFangTC-Regular, Noto Sans TC, sans-serif, Microsoft JhengHei;
  font-weight: 400;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .section-title {
      font-size: 24px; } }
  .section-title b {
    display: block;
    font-size: 24px;
    font-family: PingFangTC-Light, Noto Sans TC, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    opacity: .5;
    margin-top: 20px; }
    @media screen and (max-width: 500px) {
      .section-title b {
        font-size: 17px;
        margin-top: 5px; } }

.mark {
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 12px;
  background-color: #FD4A0F;
  color: #fff; }

svg.hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 6% auto 30px;
  position: relative;
  z-index: 2; }

footer {
  background-color: #1A1B1B;
  color: #fff;
  padding: 25px;
  opacity: .9; }

#call-to-action-btn, #bar, #nav {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }

@media screen and (max-width: 992px) {
  #call-to-action-btn, #nav {
    display: none; } }

#call-to-action-btn.calm_down, #bar.calm_down, #nav.calm_down {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: .6; }
  #call-to-action-btn.calm_down:hover, #bar.calm_down:hover, #nav.calm_down:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

#call-to-action-btn.calm_down {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

#bar.calm_down {
  background-color: #0047BA;
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

#nav.calm_down {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

@media screen and (max-width: 992px) {
  #bar.calm_down {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }

br.m {
  display: none; }
  @media screen and (max-width: 768px) {
    br.m {
      display: block; } }

.super-block {
  padding: 15px;
  border-radius: 10px;
  background-color: #123293;
  color: #fff; }
  .super-block .h1 {
    font-size: 20px;
    color: #fff !important; }
