[class*='btn'] 
	cursor: pointer
	user-select: none
  text-align: center

#call-to-action-btn
	position: fixed
	width: 75px
	height: 110px
	z-index: 2
	right: calc( 4% + 60px )
	bottom: calc( 7% + 60px )

	img
		position: absolute
		top: 0
		left: 0
		z-index: 1

		&.on
			z-index: 2
			animation: onoff 0.4s ease 0s infinite alternate
		
		&:not(.text)
	    width: 300%
    	transform: translate3d(-6%, 5%, 0)

		&.text 
			width: 100%
			position: absolute



#call-to-action-btn:active
	.on
		transform: translate3d(-6%, 6%, 0)

@keyframes onoff
	0%
		transform: translate3d(-6%, 5%, 0)
	100%
		transform: translate3d(-6%, 7%, 0)