
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600)
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700)
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css)
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
// Variables
@import "variables"

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

*
  font-family: 'Noto Sans TC',Roboto Slab,Hoefler Text,'微軟正黑體',Songti TC,serif
  
=flex_center
  display: flex
  justify-content: center
  align-items: center
//mixins
@mixin paragraph_size_leading($fz,$lh)
  font-size: $fz
  line-height: $lh

@mixin range_width($min: 0,$max: $min)
  @if ($max==$min)
    @media screen and (min-width: $min)
      @content
  @else
    @media screen and (min-width: $min) and (max-width: $max)
      @content

@mixin range_height($min: 0,$max: $min)
  @if ($max==$min)
    @media screen and (min-height: $min)
      @content
  @else
    @media screen and (min-height: $min) and (max-height: $max)
      @content


html,body
  padding: 0
  margin: 0
  width: 100%
  overflow-x: hidden

h1,h2,h3,h4,h5,h6
  font-weight: 400
  letter-spacing: 1px

h1
  font-size: 30px
h2
  font-size: 24px 
h3
  font-size: 20px 
h4
  font-size: 18px 
h5,p
  font-size: 15px
  letter-spacing: 0.5px
  line-height: 26px

div[direction="left"]
  display: none

@mixin ab_center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)

=size($w,$h:$w)
  width: $w
  height: $h


.clearfix.pvs.phm
  display: none !important

::selection 
  background-color: $color_red
  color: white

br.lg
  +range_width(0,1200px)
    display: none

// @keyframes fadeIn
//   0%
//     opacity: 0
//   100%
//     opacity: 1

// .navbar,.carousel,.indep_post,.col_post
//   opacity: 0
//   animation: fadeIn 0.5s both

.container-fluid
  padding: 0

body,footer
  width: 100%
  overflow-x: hidden
//---------------------


.fb_iframe_widget
  max-width: 250px !important
  width: 250px !important
  overflow-x: hidden !important

footer
  background-color: #f3f3f7
  color: 
  // margin-top: 100px
  padding-top: 40px

  .footer_logo
    line-height: 30px
    a
      margin-right: 10px
      color: $color_purple
      &:hover
        color: $color_purple

.content_frame
  padding-top: 60px;
  background-color: $color_red

//------------------------------
//nav

.navbar.navbar-default
  background-color: white
  height: 60px
  border: none
  .navbar-collapse
    max-height: 440px

  .dropdown
    &:hover
      .dropdown-toggle
        color: #333

  .dropdown-menu
    max-height: 0px
    overflow: hidden
    display: block
    opacity: 0
    margin-left: -100px


  .dropdown.open
    .dropdown-menu
      max-height: 500px
      transition: 0.5s , margin-left 0s
      opacity: 1
      margin-left: 0px

  +range_width(768px)
    .dropdown_cata:hover
      .dropdown-menu
        max-height: 500px
        transition: 0.5s
        opacity: 1

  .dropdown
    .dropdown-menu
      // background-color: $color_red
      li
        margin: 0
      a
        color: rgba(#333,0.8)
        // background-color: darken($color_red,3)
        padding: 5px 10px
        transition: 0.5s
        &:hover
          // background-color: darken($color_red,6)
          color: rgba(#333,1)
    &:hover
      

      a
        color: rgba(#333,0.8)
  
.navbar-nav
  margin-top: 5px 
  background-color: white
  font-size: 15px
  font-weight: bold
  li
    margin-right: 10px
    a
      letter-spacing: 1px

    &.active
      color: $color_red
  li:hover
    a
      color: $color_red
      opacity: 1


.nav-transparent.navbar-default
  background-color: transparent
  border-bottom: none
  li a
    color: white
    transition: 0.5s
    opacity: 0.7
  li:hover
    a
      color: white
      opacity: 1

.navbar-nav
  background-color: white


.indep_post 
  background-color: white
  padding: 0px 20px
  max-width: 1300px
  width: 100%
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
  img
    // clip: rect(0px,400px,400px,0px)
    width: 100%
    height: auto
    display: block

  blockquote
    font-size: 14px
    padding: 0px !important
    border-left: none
    opacity: 0.6
    margin-top: -10px
  
  p
    font-size: 16px 
    line-height: 1.7em
    margin-top: 30px
    margin-bottom: 30px
    letter-spaing: 1.2em
  
  h1
    margin-bottom: 15px
    font-weight: 500
  
  h2
    margin-top: 70px
    margin-bottom: 30px
    font-size: 1.5em
    
    &:nth-child(1)
      margin-top: 10px

  a
    max-width: 100%
    overflow: hidden
  
  +range_width(0px,500px)
    display: block
  
//------------
//blog


.page_blog
  background-color: $color_red

.post-box-wrapper
  background-color: $color_red
  
  
.carousel
  position: relative

.carousel_bg
  height: 500px
  background-size: cover
  // background-attachment: fixed
  background-position: center center

.carousel_cover
  background: linear-gradient(180deg,transparent 30%,black 110%)
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.carousel-caption
  text-align: left
  left: 30px !important
  +range_width(0px,800px)
    left: 10% !important

.louder
  position: absolute
  left: 2%
  max-width: 250px
  width: 30%
  bottom: -40px
  z-index: 3
  pointer-events: none
  -webkit-pointer-events: none

  +range_width(0px,800px)
    display: none


.col_post
  padding-left: 20px
  box-sizing: border-box
  padding-bottom: 150px

  +range_width(0px,800px)
    padding-left: 0px
    padding-right: 0px

    .post_image
      margin-right: -20px
      margin-left: -20px
  .post_image
    height: 300px
    background-size: cover
    background-position: center
    color: white
    position: relative

    +range_width(0px,800px)
      height: 50vh
      .infos
        .jour
          font-size: 13px

    .infos
      position: absolute
      bottom: 20px
      left: 20px
      letter-spacing: 1px
      h1
        margin-bottom: 8px
      h5
        opacity: 0.9
        margin-top: 0px
        letter-spacing: 2px
    &:before
      content: ""
      display: block
      background: linear-gradient(180deg,transparent 30%,black 110%)
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%


$color_orange: #FF4C00
$color_blue: #0047BA


.landing_page_body
  width: 100vw
  height: 100vh
  overflow: hidden
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background-color: $color_blue

  *
    font-family: 'Noto Sans TC'
    font-weight: 300

  .main
    // background-color: $color_blue
    user-select: none

  nav.navbar-default
    background-color: transparent
    // background: linear-gradient($color_blue,transparent)
    // background-color: $color_blue
    .navbar-nav > li > a
      color: white !important
      transition: 0.5s
      &:hover
        color: rgba(white,0.8) !important


  .navbar-nav
    // background-color: $color_blue
    background-color: transparent

  .main_info_container
    position: absolute
    // width: 100%
    height: 100%
    left: 0
    right: 0
    top: 0
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 1400px

    padding: 80px
    padding-left: 10px

    .main_block
      max-height: 450px

  .index_btns
    margin-top: 25px
    display: flex
    justify-content: space-between

  .index_btn
    background-color: white
    width: calc( (100% - 25px) / 2)
    border-radius: 6px
    cursor: pointer
    &.disable
      cursor: initial
      background-color: #ccc
      &:hover
        background-color: #ccc

    &.full
      width: 100%
      height: 77px
      display: flex
      justify-content: center
      img
        height: 100%

    &:hover
      //background-color: $color_orange
      background-color: #ccc

  .full_lang_sel
    position: fixed
    +size(100%)
    left: 0
    top: 0
    z-index: 2000
    +flex_center
    justify-content: space-around
    transition: 0.5s
    padding: 30px
    box-sizing: border-box
    

    .btn
      width: 50%
      max-width: 400px
      padding: 50px 100px
      font-weight: 300
      letter-spacing: 1px
      margin: 20px
      font-weight: 300
      color: white
      text-align: center

      // padding-bottom: 100%
      +flex_center
      background-color: $color_orange
      // color: white
      // color: #333
      font-size: 30px
      &:hover
        text-decoration: none
        background-color: white
        color: #333
        // color: white
    +range_width(0px,500px)
      flex-direction: column
      .btn
        width: 85%
        
        max-width: initial
        display: inline-block
        padding: 50px 30px


    background-color: rgba($color_blue,0.9)
    
    pointer-events: none
    opacity: 0
    &.active
      pointer-events: initial
      opacity: 1
      cursor: pointer



  +range_width(0px,991px)
    background-image: url("/img/2017/zashare-website-static.jpg")
    background-size: auto 100%
    background-position: center 30%
    background-attachment: fixed
    height: auto
    
    .index_btns
      flex-direction: column
    .index_btn
      width: 100%
      margin-bottom: 25px
      
      img
        max-width: 200px
      &.full
        width: 100%
        height: initial
        display: block
        justify-content: center
        img
          height: initial
    .main_info_container
      height: 100vh
      width: calc(100% - 40px)
      padding: 0px !important
      justify-content: flex-start
      .col-md-7

      img.main
        margin-top: 100px

        // margin-bottom: 100px
        width: 100%
    
    nav.navbar-default
      height: auto

      *
        color: white !important
      .navbar-toggle
        border: none

      .icon-bar
        background-color: white
      .dropdown
        margin-right: 0
        &.open
          >a,>a:hover
            background-color: white !important
            color: $color_blue !important


    .main_info_container
      padding: 20px
    // padding-top: 50px

  // .center_box
  //   width: 80%
  //   max-width: 400px
  //   position: absolute
  //   left: 50%
  //   top: 50%
  //   +range_width(0px,800px)
  //     top: 60%
  //   transform: translate(-50%,-50%)
  //   img
  //     animation: fadeIn  0.5s 0.5s both 
  //   h3
  //     animation: fadeIn  0.5s 1.3s both 



  .btn-trans
    border: solid 2px white
    color: white
    background-color: transparent
    transition: 0.5s
    animation: pulse 0.5s 1.5s both infinite


  
  .btn-trans:hover

    background-color: white
    color: black

.landing-video
  position: absolute
  height: 105%
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  pointer-events: none
  -webkit-pointer-events: none
  z-index: -1
  +range_width(0px,800px) 
    display: none 
  @media screen and (min-aspect-ratio: 2/1)
    width: 100%
    height: auto

.col_company
  position: fixed
  padding: 20px 50px 20px 40px
  // padding-right: 30px
  // border-right: solid 1px rgba(black,0.05)
  box-sizing: border-box
  p
    font-size: 1em
    max-width: 280px
  
  img
    width: 80%
    max-width: 120px
    display: inline-block
    border: solid 1px rgba(black,0.2)

.col_company2
  
  img
    width: 50%
    max-width: 200px
  background-color: #f4f4f4
  padding: 20px
  margin-bottom: 20px


//文章頁面

.loading .postbox
  .post_title,p,.topimg
    background-color: #ddd
  
  .post_title
    height: 2em
    width: 100%
  


.postbox
  text-decoration: none
  color: black
  min-height: 450px
  display: block
  padding: 5px

  .postbox


  *
    transition-duration: 0.5s
  

  &:hover,&:focus,.topimg:focus 
  .company_name
    color: white
    border-left-color: white
    border-right-color: white
  
  .topimg
    &:before  
      background-color: rgba(black,0.4)
      
    
  

  .post_title
    min-height: 1.2em
    font-weight: 500
  
  .post_author
    font-size: 0.7em
  
  .post_para
    // text-indent: 2em
  



.company_name
  color: transparent
  position: absolute
  width: 70%
  left: 50%
  top: 50%
  text-align: center
  transform: translate(-50%,-50%)
  z-index: 2
  transition: 0.5s,border-color 0.5s 0.2s,padding 0.5s 0.2s
  margin: 0
  padding: 0px 5px

  user-select: none

  border-left: solid 2px transparent
  border-right: solid 2px transparent


.topimg
  width: 100%
  background-size: 100% auto
  background-position: center
  transition: 0.5s
  position: relative
  padding-bottom: 55%
  &:before
    content: ""
    display: block
    background-color: rgba(black,0)
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    transition: 0.5s

//post page
//--------------------------------------------------


.company_link
  color: $color_red
  transition: 0.5s
  &:hover,&:focus
    color: darken($color_red,1)


.relate_cover
  position: relative
  width: 100%
  height: 240px
  background-position: center
  background-size: auto 115%
  color: white
  transition: 0.5s
  cursor: pointer
  margin-bottom: 30px
  .mask
    background: linear-gradient(0deg,transparent 30%,black 110%)
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0.7
    transition: 0.5s



  &:hover
    background-size: auto 120%
    color: white

    .mask
      opacity: 1

  // padding: 30px
.related_info
  +ab_center
  transform: translateX(-50%)
  top: 30px
  width: 80%
  background-size: 120% auto
  background-position: center center

  
  h3
    line-height: 40px
  p
    opacity: 0.9

//-----------------
//expo page

.page_expo
  // padding-bottom: 40px
  background-color: white
  .col-sm-6
    padding: 0
  .col-content
    display: flex
    .text
      justify-content: center
      height: 80%
      align-items: center
      height: 100%
  .text
    display: flex
    flex-direction: row
    justify-content: center
    padding: 0px 50px
    width: 100%
  .item
    cursor: pointer
  .text_inner
    display: flex

  p
    padding: 20px 30px
    margin: 0
    width: 75%
  h2:before
    content: "/"
    font-size: 30px
    margin-right: 2px

  h2
    span 
      display: inline-block
      margin-bottom: 20px

  .bt_line
    width: 30px
    border-bottom: solid 4px $color_red
    margin-top: -10px
    margin-bottom: 20px
    &[data-color="green"]
      border-color: #26D03A

  .title 
    width: 40%
  .red,.green
    width: 10%
  .red
    background-color: $color_red
  .green
    background-color: lighten(#26D03A,3)
  .bg_img
    height: 100%
    background-position: center center
    background-size: cover
  .carousel,.carousel-inner,.item,.text,.col-content,.col-carousel
    height: 100%


  .row
    display: flex
    height: calc( (100vh - 60px) / 2 )
    box-shadow: 0px -15px 15px 0px rgba(black,0.05) inset
  .col-content
    width: 55%
  .col-carousel
    width: 45%

  +range_height(0px,800px)
    .row
      height: calc( (100vh - 60px) / 1.7 )
  +range_width(900px,1150px)
    .col-content
      width: 60%
    .col-carousel
      width: 40%
  +range_width(0px,900px)
    .row
      flex-direction: column
      height: auto
      .col-content,.col-carousel
        width: 100%
        min-height: auto
        height: auto
      .col-carousel
        height: calc( (100vh - 60px) / 2.5 )

      .red,.green
        order: -1
        position: absolute
        top: 0
        width: 100%
        height: 30px
        left: 0

      .col-content
        flex-direction: column
        min-height: calc((100vh - 60px)/ 2)
        position: relative
        p
          width: 100%

      .text
        padding: 20px
        display: block
        position: relative

      .text_inner
        flex-direction: column
        padding: 20px 10px
        p
          padding: 0

      .title 
        width: 100%

.expo_pics_list
  margin-top: 35px
  margin-left: -20px
  li
    padding: 5px 5px !important
    cursor: pointer
    &:first-child


.expo_cover
  height: 300px
  background-size: cover
  transition: background-image 0.5s
  &.cover_2015
    background-image: url("http://img.accupass.com/userupload/dcfc34cde62f4340aae2dd00452b0ef9.jpg")
  &.cover_2016
    background-image: url("https://az796311.vo.msecnd.net/userupload/afe7351a4adc41ca8a828fd5b606798f.jpg")
  
///-----------------

.page_about
  display: flex
  flex-direction: row
  background-color: white


  .col_about_pic
    background-image: url(/img/zashare_poster.jpg)
  .col_about_pic , .col_about_content
    width: 50%
    height: calc(100vh - 60px)
    
    background-size: auto 100%
    background-position: center center

  .col_about_content

    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    padding: 20px 40px

    p
      width: 100%
    
    +range_width(0px,800px)
      
      .col_about_content
        padding-top: 30px
  
  +range_width(0px,1200px)
    flex-direction: column
    .col_about_pic , .col_about_content
      width: 100%
      min-height: 150px
      height: auto
    .col_about_pic
      height: 400px
  +range_width(0px,700px)
    .col_about_content
      padding: 20px 20px



//---------------- 

.area_news
  background-color: white
  padding: 50px 30px 80px 30px
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2)

  .small_br
    display: none

  h1
    padding: 0
    line-height: 42px
 
  +range_width(0,500px)
    h1
      font-size: 23px
      line-height: 38px
    .small_br
      display: block
    .col-sm-12
      padding: 0
  iframe 
    width: calc(100% + 30px * 2)
    height: 550px
    margin-left: -30px
    margin-right: -30px

.page_news
  // background-color: $color_red
  // padding: 150px 0px
  background-repeat: no-repeat
  background-color: #0047BA
  background-attachment: fixed
  background-size: 70%
  padding-bottom: 200px


  .vertical_text  
    writing-mode: vertical-rl
    text-orientation: upright
    min-height: 300px
    width: 100%

  img
    max-width: 100%

  .person
    transform: scale(3)

  .pdlr
    padding-left: 5vw
    padding-right: 5vw
  
  .imageTop
    height: 800px
    right: 0px
    position: absolute
    top: 0px
    
  .area_news
    background-color: transparent
    color: white
    box-shadow: none

  .area_news_white
    background-color: white
    color: #333
    box-shadow: initial

  .subtitle
    font-size: 18px
    font-weight: 300
    line-height: 2em
    letter-spacing: 1px
    
    opacity: 0.8

  label
    font-size: 16px
    font-weight: 400
  input
    background-color: transparent
    border: solid 2px white
    color: white

  .catabox
    background-color: #143183
    border-radius: 40px
    padding: 15px
    margin-bottom: 30px
    margin-top: 20px

    .team
      padding: 10px
      display: flex
      flex-direction: row
      align-items: center
      min-height: 100px

      transition: 0.5s
      cursor: pointer
      border-radius: 100px
      &:hover
        text-decoration: none
        background-color: rgba(white,0.1)
      .title
        color: white

        margin-left: 20px
        font-size: 16px
        font-weight: 300

      .tag
        padding: 5px 15px
        border-radius: 20px
        background-color: #ff4714
        color: white
        font-weight: 300

        &:before
          content: "#"

  .btn-default
    padding: 9px 21px
    border-radius: 3px
    letter-spacing: 1px
    background-color: $color_red
    color: white

    border: solid 1px transparent

    transition: 0.5s

    &:hover
      border: solid 1px $color_red
      background-color: transparent
      color: $color_red
      

  .news3
    p,h3,h4,h5,li
      font-weight: 300
      
    a
      display: block
      margin-top: 15px
      color: white
      font-size: 20px

    p
      margin: 40px 0px
      line-height: 36px
      font-size: 18px
      opacity: 0.8
    ul.listWarn
      list-style: none
      padding: 0
      padding-left: 50px
      font-size: 16px
      letter-spacing: 1px
      li
        margin-top: 10px
    .dark_bg
      margin: 10px
      &>.row
        margin-top: 50px  
      .col-sm-4
        text-align: center
        h4,h5
          font-weight: 300
        h4
          line-height: 30px
      h3
        font-size: 28px
        font-weight: 300
        text-align: center

    @media screen and (max-width: 600px)
      margin: 0px
      .col-sm-11,.col-sm-4
        margin-bottom: 50px
      ul.listWarn
        padding: 15px
      &.blue_bg .dark_bg
        padding: 0px
        margin: 0
      h3
        margin-bottom: 25px
      
      

  .blue_bg
    background-color: #0047BA
    color: white
    padding: 80px 0px

    .round_title
      background-color: $color_orange
      padding: 15px 30px
      font-size: 20px
      letter-spacing: 1px
      font-weight: 300
      border-radius: 30px
      display: inline-block
      &:hover
        color: white
        
    .dark_bg
      background-color: darken($color_blue,10)
      padding: 50px 50px
      
      border-radius: 30px
      margin-top: 50px

      
        
  .orange_bg
    padding: 80px 0px
    background-color: #FD4A0C
    color: white
    filter: saturate(91%)

    .btn
      display: inline-block
      background-color: #0047BA
      border-radius: 20px
      padding: 10px 20px
      margin-top: 20px
      color: white
      &:hover
        background-color: white
        color: black
  
  .newsTitle
    font-weight: 500
  .num
    background-color: white
    width: 50px
    height: 50px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    color: #FD4A0C
    font-size: 25px
    font-weight: 800
    margin-top: 30px
  .fcenter
    display: flex
    justify-content: center
    text-align: center
    &.vertical
      flex-direction: column
      align-items: center

  +range_width(0px,768px)
    background-size: 80%
    background-attachment: scroll
    background-position: -30% -50px
    iframe
      height: 350px

  

//----------------

.post_wait

  padding-left: 20px
  h3
    font-weight: 500
  +range_width(0px,800px)
    padding: 0


