
footer
  background-color: #f3f3f7
  color: 
  // margin-top: 100px
  padding-top: 40px

  .footer_logo
    line-height: 30px
    a
      margin-right: 10px
      color: $color_purple
      &:hover
        color: $color_purple