.page_workshops
  color: white
  background-color: $color_blue
  min-height: 100vh
  padding-top: 100px
  padding-bottom: 50px
  .container-table
    //background-color: #fff
    padding-bottom: 100px
    color: #333
    // background-color: white
  
  th
    font-weight: 500
    font-size: 16px
    padding: 10px 0px
    padding-left: 10px

  table
    background-color: #fff
    border-radius: 10px