.page_attends
  background-color: $color_dark_blue
  min-height: 100vh
  .attenditem 
    color: #333
    display: inline-block
    margin-bottom: 10px
    margin-top: 10px
    padding: 20px
    width: 100%
    border-radius: 10px !important
    background-color: #FCFCFD
    padding-bottom: 20px
    -webkit-transition: 0.5s
    transition: 0.5s
    position: relative
    top: 0px
    left: 0px
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
    text-decoration: none

    h3
      line-height: 30px
      margin-top: 10px

    .itemtag
      color: $color_blue
      &:before
        content: "#"

    .itemtheme
      span
        margin: 0

    & a.cardtop 
      color: inherit
      display: block

    & a.cardtop:hover 
      color: inherit
      text-decoration: none

    &:hover 
      top: -5px
      left: -5px
      color: #333

    & img
      width: 100%

    .col-sm-4.col-icon
      padding-left: 0
      padding-right: 0  
    
    .highlight
      background-color: $color_orange
      padding: 3px 6px
      color: white
      border-radius: 5px
      margin-left: 5px
      margin-right: 5px

  .attenditem:hover .itemteach, .attenditem:hover .itemlearn 
    opacity: 1
    max-height: 100px


  p 
    line-height: 23px


  .white 
    color: #FCFCFD


  .swex 
    color: #430095
    font-weight: 700
    padding: 4px 8px
    cursor: pointer


  .form-group 
    position: relative

  label
    color: white
    &:after
      content: ":"
      font-weight: 300


      
  .keywordbtn 
    display: inline-block
    background-color: white
    color: #333
    padding: 5px 10px
    // margin-top: 20px
    margin-right: 10px
    border-radius: 5px
    margin: 5px
    cursor: pointer
    
    &:hover
      background-color: #eee

    &.active
      background-color: $color_orange
      color: white


  @media screen and (max-width: 1024px) 
    .row-keyword-btn
      display: none
  
  .row-keyword-btn
    .keywordbtn 
      background-color: transparent
      border: solid 1px white
      color: white
  
  .row-cata-btn
    .keywordbtn 
      &:before
        content: "#"

  .input_filter 
    // background-color: transparent
    // color: white
    font-weight: 500


  .filter_cancel 
    color: #333
    position: absolute
    right: 15px
    top: 20px
    font-size: 20px
    cursor: pointer

    @media screen and (max-width: 768px)
      top: 5px

  .filter_cancel:hover 
    color: #EE3441


  .footertext 
    color: #FCFCFD
    padding: 20px


  .searchtitle 
    display: inline-block
    margin-bottom: 15px
    span
      font-size: 16px

  #search_headpart .container 
    padding: 10px
    box-sizing: border-box

  #search_headpart.fixed 
    position: fixed
    top: 0
    left: 0
    z-index: 900
    background-color: $color_dark_blue
    // width: 100%
    margin-left: 0
    margin-right: 0
    width: 100vw
    margin-top: 60px
    // max-width: 100vw
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3)

    .row-keyword-btn
      display: none

    .form-group
      margin-bottom: 0

  @media screen and (max-height: 800px) 
    #search_headpart.fixtop .searchtitle 
      font-size: 22px
      display: inline-block
    
    #search_headpart.fixtop .keywordbtn 
      display: none
  @media screen and (max-height: 800px) 
    .row-cata-btn
      .col-sm-11
        overflow-x: scroll
        white-space: nowrap

  #search_headpart.fixtop .container 
    padding: 10px

  .search_headpart_space
    height: 209px