<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /


  RewriteRule ^storage(.*)$ https://zaservice.ellis.tw/storage$1 [L,R=301]
  RewriteRule ^dropzone(.*)$ https://zaservice.ellis.tw/dropzone$1 [L,R=301]


  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]


</IfModule>
