doctype
html
  head
    meta(charset='UTF-8')
    title 雜學校 ZaShare｜建校大業集資企劃啟動
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    meta(name="keywords" content="雜學校, ZaShare, 集資")
    meta(name="description" content="亞洲最大的創新教育內容平台，地表最嚮往的未來學校，雜學校 ZaShare 建校大業集資企劃啟動")
    meta(property="og:title" content="雜學校 ZaShare｜建校大業集資企劃啟動")
    meta(property="og:site_name" content="雜學校 ZaShare｜建校大業集資企劃啟動")
    meta(property="og:description" content="亞洲最大的創新教育內容平台，地表最嚮往的未來學校，雜學校 ZaShare 建校大業集資企劃啟動")
    meta(property="og:image" content="/assets/img/common/facebook_share.jpg")
    link(rel="shortcut icon" type="image" href="/assets/img/common/favicon.png")
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body

    #loading
      .block-og
      .block-db
      .block-b
      .progress-text.LatinaEssential.
        <b>0</b>%

    #bar
      .bar-chart-wrap
        .b-pg-main(:style="'width:' + ticketObj.progressPercentage")
        .b-pg-bg
      .text.
        已募資<b>{{ ticketObj.progressPercentage }}</b>學生證倒數<b>{{ 2017 - ticketObj.count }}/2017</b>張

    #nav
      a.btn 為什麼建校？
      a.btn 建校夢想藍圖
      a.btn 建校園老回饋
      a.btn 支持建校方案

    #call-to-action-btn.btn
      img(src="/assets/img/main/call-to-action-off.png", alt="")
      img.text(src="/assets/img/main/call-to-action-text.svg", alt="")

    header#header
      #header-slider
        ul
          li.img-bg-contain(style="background-image: url('/assets/img/main/header-s1.png')")
          li.img-bg-contain(style="background-image: url('/assets/img/main/header-s2.png')")
          li.img-bg-contain(style="background-image: url('/assets/img/main/header-s3.png')")
          li.img-bg-contain(style="background-image: url('/assets/img/main/header-s4.png')")
          li.img-bg-contain(style="background-image: url('/assets/img/main/header-s5.png')")
      .header-border
        .top
        .left
        .right
        .bottom
        .left-top
          img(src="/assets/img/main/header-l-t.svg", alt="")
        .right-top
          img(src="/assets/img/main/header-r-t.svg", alt="")
        .left-bottom
          img(src="/assets/img/main/header-l-b.svg", alt="")
        .right-bottom
          img(src="/assets/img/main/header-r-b.svg", alt="")

    section.sec2
      .content.flex-l2-s1-ac-
        .left
          h1.reveal-left-500.
            雜學校建校大業</br>
            計畫啟動</br>
          h2.reveal-left-500.
            一間地表最嚮往的未來學校</br>
            MY SCHOOL, MY BRAVEDUCATION
          h3.reveal-left-500 我們堅信台灣可以是亞洲最大的創新教育內容平台。
        .right.reveal-left-500
          img(src="/assets/img/main/2-right.png", alt="")

    section.sec3
      .content
        .s3-scroll-block.flex-l2-s1-
          .s3-title
            .h1.reveal-left-500 你知道嗎？臺灣的教育 ...
            h2.reveal-left-500.
              2853億的教育預算<br>
              5年40億感教育計劃<br>
              5年500億頂大計劃<br>
              20年教改
            h3.reveal-left-500.
              做了這麼多努力<br>
              投了那麼多資源<br>
              但我們仍然陷在僵化教育的困境中?
          .s3-info.LatinaEssential(style="text-align: left").reveal-left-500.
            285,300,000,000<br>4000,000,000<br>50,000,000,000<br>
            

        .s3-scroll-block.flex-l2-s1-ac-
          .s3-info.reveal-left-500.
            這會考
          .s3-title
            .h1.reveal-left-500 大家會說臺灣教育 ...
            h2.reveal-left-500.
              放棄夢想難道就是長大? - 青醒<br>
              你覺得讀書的目的是為了什麼? 不斷的讓自己考得更好 - 《學習的理由》<br>
              「這會考」 一句話磨滅學習的動力
            h3.reveal-left-500.
              考了那麼多<br>
              我們仍然不知道如何思考未來

    section.sec3-2
      .content
        .s3-scroll-block
          .s3-title.reveal-left-500 但我們在這裡看見可能 ...
          .s3-cards.flex-l2-m1-afs-
            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-1.png", alt="")
              .text.
                雜學校翻轉的不只是教育，是城市裡不同創新碰撞的火花！是一股強大野生的力量！
                <span>台北市長 柯文哲</span>

            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-2.png", alt="")
              .text.
                我認為，大學教育也應該不太乖起來了！ 雜學校可能是一個很好的典範
                <span>世界知名創新大學  Minerva School</span>

            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-3.png", alt="")
              .text.
                我們要相信雜學、相信學習有更自主更多元的可能，相信下一代會比我們有更多的可能性！
                <span>臺灣吧 Hauer</span>

            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-4.png", alt="")
              .text.
                我認為雜學校就是幫助每一個孩子找到自己的樣子，而不是只是一個模樣 。 找到在這個世界上都有他可以發揮價值的地方 。
                <span>TFT 劉安婷</span>

            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-5.png", alt="")
              .text.
                在這裡看見了希望，不再迷失，我會努力變成更喜歡自己的人，努力的不被框架所限制，如何在框架中做出無限可能
                <span>觀展民眾</span>

            .card.reveal-left-500
              .img
                img(src="/assets/img/main/s3-6.png", alt="")
              .text.
                從來沒想過在參展中的分享，能讓一個大學生感動得當場痛哭不能自己，體制內的教育，的確有太多需要改變的地方！連學生都體認到有這樣改變的需求，讓我們更有堅定的信念繼續走下去，直到翻轉成功為止！
                <span>2016 參展團隊</span>

    section.sec4
      .content.flex-l2-s1-ac-
        .img.reveal-left-500
          img(src="/assets/img/main/4-title.svg", alt="")
        .text
          .h1.reveal-left-500 雜學校
          h2.reveal-left-500.
            學你想學 學你想成為<br>
            LEARN TO BE, NOT TAUGHT TO FIT.
          h3.reveal-left-500.
            面對這麼多的教育困境，我們還能做什麼?我們想著有 沒有一間學校，沒有制式的選擇、沒有標準化的價值、 沒有世俗的框架、沒有年齡的限制，充滿了各種想像? 為此我們試著打造一所真正讓1-99歲的人都可以勇敢 「學你想學、學你想成為」的學校。

    section.sec5
      
      .section-title.reveal-left-500.
        我們打算怎麼建校？
        <b>MAKE BRAVEDUCATION</b>

      .content
        svg.hr
          line(fill="none", stroke="#FFF", stroke-dasharray="5", x1="0", y1="0", x2="100%", y2="0")

        .time-line-block
          .time.LatinaEssential.reveal-left-500.
            2015<br>
            2016
          .right
            .right-block.flex-l2-m1-
              .img.reveal-left-500
                img(style="width: 80%", src="/assets/img/main/5-1.png", alt="")
              .text-block.reveal-left-500
                h2 不太乖教育節
                p.
                  。2天2萬人入場(免費入場)<br>
                  。120個單位參展<br>
                  。榮獲2016金點社會設計獎<br>
                  。受邀至紐約參與《台灣巡禮》展覽
            .right-block.flex-l2-m1-
              .img.reveal-left-500
                img(style="width: 80%", src="/assets/img/main/5-2.png", alt="")
              .text-block.reveal-left-500
                h2.title-right-mark(data-mark="展覽2.0") 雜學校-亞洲創新教育展
                p.
                  。2天1.7萬人入場(售票)<br>
                  。160個單位參展<br>
                  。出版《不太乖世代》專書<br>
                  。受邀參與香港《不一樣教育節》

        svg.hr
          line(fill="none", stroke="#FFF", stroke-dasharray="5", x1="0", y1="0", x2="100%", y2="0")

        .time-line-block
          .time.LatinaEssential.reveal-left-500.
            2017
          .right
            .right-block.flex-l2-m1-
              .img.reveal-left-500
                img(style="width: 130%" src="/assets/img/main/5-3.png", alt="")
              .text-block.reveal-left-500
                h2.title-right-mark(data-mark="升級3.0") 雜學校-亞洲創新博覽會
                p.
                  1. 規劃5大主題館，徵集亞洲超過10個國家、100個創新 教育機構。<br>
                  2. 舉辦2場大型國際論壇、20場工作坊、超過10場演講。<br>
                  3. 打造亞洲最大創新教育內容展覽平台。

        svg.hr
          line(fill="none", stroke="#FFF", stroke-dasharray="5", x1="0", y1="0", x2="100%", y2="0")

        .time-line-block
          .time.LatinaEssential.reveal-left-500.
            2018
          .right
            .right-block.flex-l2-m1-
              .img.reveal-left-500
                img(src="/assets/img/main/5-4.png", alt="")
              .text-block.reveal-left-500
                h2 雜學堂開課
                p.
                  雜學到底要學什麼?行銷?程式?設計? 24堂最狂講師陣容，手把手地教你史上最雜的知識。 「學你所學，學你想成為」不再是口號!
                .more-btn 了解更多
            .right-block.flex-l2-m1-
              .img.reveal-left-500(style="max-height.reveal-left-500: 250px")
                img(class="tY" style="width: 130%", src="/assets/img/main/5-5.png", alt="")
              .text-block.reveal-left-500
                h2 雜學校建校
                p.
                  在展覽之外，雜學校將營運實體空間，作為教育內容展示
                  中心、課程論壇空間。一年到頭，除了展覽外，還有一個
                  地方，可以讓台灣精采的教育內容，能持續被看見。

        svg.hr
          line(fill="none", stroke="#FFF", stroke-dasharray="5", x1="0", y1="0", x2="100%", y2="0")

        .last-time-line-block
          img.reveal-left-500(src="/assets/img/main/5-left.png", alt="")
          .section-title.reveal-left-500.
            3 個雜學校咬著牙也要建校的原因!
            <b>OUR BRAVEDUCATION</b>
          .flex-l3-m1-
            .white-box.reveal-left-500
              h2 讓台灣成為亞洲的教育震央
              p.
                雜學校的年度展覽可以說是全亞洲最大、最不乖的教育展。在面對教育的 問題，除了抱怨以外，我們更願意 起身為自己、為台灣改變。
            .white-box.reveal-left-500
              h2 從一年一度變成每天的學習體驗
              p.
                一次的展覽可以讓你下定決心，但真 正的雜學可是一項為期 365 天的挑戰!未來的雜學校不只是讓你看見教育的問題、帶你找到志同道合的朋友，從今以後我們要真的辦教育，請來最大咖、最狂的講師，準備好現在 就入學!
            .white-box.reveal-left-500
              h2 實驗一個未來學校的樣子
              p.
                「學你想學，學你想成為」我們相信，這就是未來學校應該有的樣子。過去，沒有人敢這樣做教育;現在，雜學校要成為未來教育的原型。這麼狂的學校，我們要你成為雜學校的第一批學生!

    section.sec7
      .content.flex-l2-s1-
        .left
          .h1.reveal-left-500 勇敢建個校一年要投入多少錢?
          h2.reveal-left-500 算一算大概 2000 多萬...
          .s7-list.reveal-left-500
            <b>人事費用</b> = 4,800,000 元
            span 8 - 9（設計師、專案、企劃、文案編輯、行政人員...）
          .s7-list.reveal-left-500
            <b>博覽會舉辦費用</b> = 12,000,000 元
            span 1 年 1 次（場地租賃費、場地建置、文宣商品製作、宣傳與記錄素材製作、活動執行與人力費用...）
          .s7-list.reveal-left-500
            <b>實體空間運營</b> = 3,600,000 元
            span 包含空間租金、人事行政費（聘雇 4 人專職營運）、其他營運雜支（含水電）
          .s7-list.reveal-left-500
            <b>課程運營</b> = 1,000,000 元
            span 人事行政（聘雇專職課程企劃與兼職活動協助人員）、課程講師費用、課程直播技術相關費用          
          .s7-list.reveal-left-500  
            <b>網路平台與社群經營 </b> = 700,000 元
            span Server 空間租用 6 萬、社群廣告推廣費用、平台經營企劃（ 1 人）
        .right
          img.reveal-right-500(src="/assets/img/main/7-0-chart.svg", alt="")
          p.reveal-right-500.
            2000萬只是台灣一年教育預算的10萬分之7。但對我們來 說並不是一筆小數目。<br><br>
            所以，這次才會發起群眾集資計畫，希望可以找到更多夥 伴，願意和我們一起建校、打開對自己和生活的想像，並 勇敢地成為自己想成為的樣子。學你所學，學你想成為; 今年 10 月，跟我們一起「有敢擇學」。

    section.sec8
      .section-title.reveal-left-500.
        建校元老回饋品
        <b>BRAVEDUCATION</b>
      .content
        
        .intro-block.flex-l2-m1-
          .img.reveal-left-500
            img(src="/assets/img/main/i-1.png", alt="")
          .text.reveal-left-500
            .h1 雜學校學生證
              .mark.
                建校集資特別版
                限量 2017 張
            h2.
              #為建校大業特別設計<br>
              #這時候買最優惠，快註冊為我們的元老學生<br>
              #效期一年

            .more-btn 了解更多...

        .intro-block.flex-l2-m1-
          .text.reveal-right-500
            .h1 雜學校校董證
              .mark.
                限量 10 張
            p.
              成為雜學校校董可享有:<br>
              1. 捐贈 100 張雜學校 2017 門票給全國偏鄉與弱勢孩童。<br>
              2. 獲頒校董證書，並參與校董餐會聽取雜學校年度社會影響力報
              告與未來規劃討論。<br>
              3. 10/19 VIP DAY 搶先觀展 ...

            .more-btn 了解更多...

          .img.reveal-right-500
            img(src="/assets/img/main/i-2.png", alt="")

        .intro-block.flex-l2-m1-
          .img.reveal-left-500
            img(src="/assets/img/main/i-3.png", alt="")
          .text.reveal-left-500
            .h1 雜學校作業包

            h2.
              我們一直在思考除了展覽和講座之外，有什麼，是我們可以提供給大家延續行動的!雜學校和滾出趣首度攜手合作，推出史上最勇敢的回家作業，讓你在家也能「學你想成為」。<br>
              ...

            .more-btn 了解更多...

        .intro-block.tb-ker.flex-l2-m1-
          .text.reveal-right-500
            .h1 雜學堂
              .mark.
                建校集資特別版
                限量 2017 張
            h2.
              實體課程售價每堂課 $900<br>
              憑學生證購買只要 $450
            
            p 雜講堂課程架構:
            .tb
              .tr
                .th 40分鐘
                .td 講師講座
              .tr
                .th 40分鐘
                .td 深度互動:對談、講師實際演練、民眾互動等
              .tr
                .th 20分鐘
                .td 彈性時間:儀式性行為:快問快答、回家作業等
              .tr
                .th(style="box-shadow: inset -1px 0px 0 0 #123293") 20分鐘
                .td(style="box-shadow: none") 現場 / 線上QA

            .more-btn 了解更多...

          .img.reveal-right-500
            img(src="/assets/img/main/i-4.png", alt="")
        
    section.sec9
      .section-title.reveal-left-500.
        所以，說了那麼多，<br>
        你可以怎麼「有敢」的支持我們建校?

      .rw-block
        .left.reveal-left-500.img-bg-contain(style="background-image: url('/assets/img/main/rw-1.png')")
          img(src="/assets/img/main/p1.svg", alt="")
        .right.reveal-left-500
          h2 方案一: 1人建校首批限量入學方案
          
          p.
            入學方案回饋包含 (總價值 $24,800):<br>
            一、集資加碼優惠版學生證 *1 (原價值 $24,050)<br>
            二、雜學校作業包 *1 (原價值 $750)
          
          .bottom
            .price.LatinaEssential $2,480
            a(href="https://zashare.backme.tw/cashflow/checkout?locale=zh-TW&project_id=650&reward_id=3281").buy-btn 支持建校

      .rw-block.blue
        .left.reveal-right-500.img-bg-contain(style="background-image: url('/assets/img/main/rw-2.png')")
          img(src="/assets/img/main/p5.svg", alt="")
        .right.reveal-right-500
          h2.mark-l(data-mark="牽手價") 方案二: 5人建校心連心好友入學方案
          
          p.
            入學方案回饋包含 (總價值 $124,000):<br>
            一、集資加碼優惠版學生證 *5 (原價值 $120,250)<br>
            二、雜學校作業包 *5 (原價值 $3,750)
          
          .bottom
            .price.LatinaEssential $10,400
              span (平均每人 $2,080)
            a(href="https://zashare.backme.tw/cashflow/checkout?locale=zh-TW&project_id=650&reward_id=3282").buy-btn 支持建校

      .rw-block.reveal-left-500
        .left.reveal-left-500.img-bg-contain(style="background-image: url('/assets/img/main/rw-3.png')")
          img(src="/assets/img/main/p10.svg", alt="")
        .right.reveal-left-500
          h2.mark-l(data-mark="團建價") 方案三: 10人建校元老團方案
          
          p.
            元老回饋內容 *10套 (原價值 $248,000 ):<br> 一、集資加碼優惠版學生證 *10 (原價值 $240,500)<br>二、雜學校作業包 *10(原價值 $7,500)
          
          .bottom
            .price.LatinaEssential $19,800
              span (平均每人 $1,980)
            a(href="https://zashare.backme.tw/cashflow/checkout?locale=zh-TW&project_id=650&reward_id=3283").buy-btn 支持建校

      .rw-block.blue
        .left.reveal-right-500.img-bg-contain(style="background-image: url('/assets/img/main/rw-4.png')")
          img(src="/assets/img/main/w.svg", alt="")
        .right.reveal-right-500
          h2.mark-l(data-mark="校董價") 方案四:天使校董方案
          
          p.
            校董回饋內容:<br>
            一、校董證 *1 (內含 2017 展覽優惠)<br>
            二、一年一度董事會 (報告年度校務與創辦人餐敘)<br>
            三、主辦方贈送 100 張單日票券給弱勢兒童
          
          .bottom
            .price.LatinaEssential $100,000
              span (限 10 名)
            a(href="https://zashare.backme.tw/cashflow/checkout?locale=zh-TW&project_id=650&reward_id=3284").buy-btn 支持建校

    section.sec10
      .content
        .h1.reveal-left-500.
          那個最近手頭有點緊，<br>
          可不可以只買博覽會的票?
        h2.reveal-left-500.
          2017 雜學校門票在這裡:
        a.reveal-left-500 TICKETS HERE

    footer.
      © ZaShare 2017 Handcrafted with hard work and love by us


  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js')
  script(src='/assets/js/vendor/jquery-2.1.4.min.js')
  script(src='/assets/js/vendor/slider.js')
  script(src='/assets/js/vendor/scrollreveal.min.js')
  script(src='/assets/js/index.js')
  script(src='/assets/js/backmeApi.js')
            


