.sec10
	display: flex
	align-items: center
	justify-content: center
	background-color: $b
	min-height: 80vh

	*
		text-align: center

	.h1
		@media screen and (max-width: 768px)
			font-size: 24px

	h2
		opacity: 1
		margin-top: 70px

		@media screen and (max-width: 768px)
			margin-top: 30px
	
	a
		width: 100%;
		max-width: 400px
		margin: 30px auto
		background-color: $og
		line-height: 50px
		height: 50px
		border-radius: 40px
		font-size: 24px

		@media screen and (max-width: 768px)
			font-size: 20px
			line-height: 40px
			height: 40px
			max-width: 220px

