.sec8
	background-color: #FFF

	.content
		max-width: 1200px
		padding-top: 0

	.boxes
		margin: 0 0 120px

	.lb-box
		position: relative
		padding-bottom: 95px
		border-radius: 15px

		h3
			text-align: center
			font-size: 30px
			font-weight: 400
			@media screen and (max-width: 992px)
				font-size: 18px

		img
			margin-bottom: 0

		p
			opacity: 1

		.see-more-btn
			position: absolute
			left: 0
			bottom: 20px
			background-color: #FFF
			border-radius: 35px
			line-height: 35px
			width: calc( 100% - 30px )
			right: 0
			margin: auto
			text-align: center
			color: $b

	.lb-box.up
		transform: translateY(-10%)
		@media screen and (max-width: 992px)
			transform: translateY(0%)

	.lb-box.down
		transform: translateY(10%)
		@media screen and (max-width: 992px)
			transform: translateY(0%)

	.section-title
		padding-bottom: 5%
		padding-top: 6%
		line-height: 1
		color: $b
	
	.intro-block
		margin: 30px 0 30px

	.img
		@media screen and (max-width: 500px)
			order: -1

	.img img
		width: 100%

	.text
		@media screen and (max-width: 500px)
			margin-bottom: 25px

		.h1
			color: $db

		p, h2
			color: $db
			margin: 20px 0
			@media screen and (max-width: 500px)
				margin: 15px 0

		.more-btn
			background-color: $b
			display: inline-block
			width: 120px
			text-align: center;
			line-height: 40px;
			height: 40px
			border-radius: 5px

	.intro-block:nth-child(n) .text
		padding-left: 5%
		@media screen and (max-width: 500px)
			padding-left: 0%

	.intro-block:nth-child(2n) .text
		padding-left: 0
		padding-right: 5%
		@media screen and (max-width: 500px)
			padding-right: 0%

	.tb
		box-shadow: 0 0 0 1px $db
		margin-bottom: 40px

		.tr
		 display: flex;
		 justify-content: center;

		 .th
		 	flex: 0 0 90px
		 	width: 90px
		 	padding: 20px
		 	color: $db
		 	box-shadow: inset -1px -1px 0 0 $db

		 .td
		 	flex: 1 1 calc( 100% - 90px )
		 	width: calc( 100% - 90px )
		 	padding: 20px
		 	color: $db
		 	box-shadow: inset 0px -1px 0 0 $db

.tb-ker
	.text
		h2
			margin-top: 10px
			margin-bottom: 30px
		p
			margin-top: 0px
			margin-bottom: 15px
